* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}




/* Navigation */
nav .nav, nav .nav-logo {
	margin: 3%;
	display: inline;
}



/* Intro */
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	/* Creates space between the contents of the intro section */
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	padding: 1rem;
}




/* Succeed-info */

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 3rem;
	font-size: 32px;
}

#succeed-info h3 {
	/*text-align: center;*/
	margin-bottom: 1rem;
}


/* Cards will align side by side */

#succeed-info .card {
	/*display: inline-block;     
	vertical-align: top;
	min-height: 175px;
	width: 30%;*/
	margin-left: 0.5rem;
	margin-right: 0.5.rem;
	margin-bottom: 0.5rem;
}




/* Pre-footer */

#pre-footer {
	padding-left: 1%;
	background-color: #002540;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	height: 175px;
}

#pre-footer div {
	display: inline-block;     
	min-width: 20%;
	vertical-align:	bottom;
}

#pre-footer div h3 {
	margin-bottom: 0.4rem;
}

#pre-footer div p {
	margin-bottom: 0.4rem;
}




/* Footer */

footer {
	padding: 1rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

